.r-c-error {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.r-c-error-text {
  color: red;
}

.r-c-begin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.r-c-loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.r-loading {
  justify-content: center;
  align-items: center;
}

.r-c-load {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.r-c-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.r-c-empty-img {
  width: 100px;
  display: block;
}

.r-c-finished {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.r-c-begin-skelectons {
  display: grid;
  width: 100%;
}

.r-c-begin-skelecton {
  background-image: url("./skelecton.png");
  background-size: 100% 100%;
}

/*******************************/

.r-loadings {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.449);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 88;
}

*[data-relative="true"] {
  position: relative;
}

.r-c-loading-overlay {
  min-height: auto;
  min-width: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.449);
  color: white;
  left: 0;
  top: 0;
}

/*******************************/
.r-loading-mask {
  position: relative;

  .r-error,
  .r-begin,
  .r-loading,
  .r-empty {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    min-height: auto;
    background: white;
  }
}

/****/
.r-loading-load {
  .intersection {
    min-height: 1px;
  }

  .skelecton {
    background-image: url("./skelecton.png");
    background-size: 100% 100%;
  }

  .r-c-finished {
    min-height: 50px;
  }

  .r-c-loading {
    min-height: 50px;
  }

  .r-c-load {
    min-height: 50px;
  }
}