.r-rolling-text-num {
    overflow: hidden;
    vertical-align: bottom;
}

.r-rolling-text-num-con{
    position: relative;
    transform-style: preserve-3d;
    // transition: 0.5s;
    // animation: RollingTextNumAni 10s linear infinite;

    .measure {
        visibility: hidden;
    }


    .num {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgb(255, 255, 255);
    }

}

// @keyframes RollingTextNumAni {
//     0% {
//         transform: rotateX(0);
//     }


//     100% {
//         transform: rotateX(-360deg);
//     }
// }