.r-c-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.r-c-overlay-loading {
  position: absolute;
  width: 100%;
  height: 100%;
}

.r-c-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.r-c-error-text {
  color: red;
}

.r-c-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.r-c-empty-img {
  width: 100px;
}

/*******************************/

.r-loading-skelecton-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.r-loading {
  justify-content: center;
  align-items: center;
}

.r-loadings {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.449);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 88;
}

*[data-relative="true"] {
  position: relative;
}
