.lib-check {
  display: inline-flex;
  align-items: baseline;
  align-content: baseline;
  .lib-check-label {
    padding-right: 7px;
    white-space: nowrap;
  }
}

.lib-check-nowrap {
  display: flex;
  flex-wrap: nowrap;
  .el-check-group {
    display: flex;
    flex-wrap: nowrap;

    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;

  }
}
