.r-text-fold {
  line-height: 18px;
  word-wrap: break-word;
  .r-text-content {
    vertical-align: middle;
  }

  .iconfont {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
    font-size: 12px;
  }
}

.r-text-fold-transition {
  transition: 0.2s;
}
